<div class="container">
  <div class="ez-content check-out-wrap margin-bottom-30">
    <div class="row check-out">
      <div class="col-md-8">
        <div class="col-margin check-out-bg1">
          <h2 class="title">Chọn hình thức thanh toán</h2>
          <div class="check-out-content">
            <div class="card check-out-row">
              <div class="radio">
                <label>
                  <input type="radio" name="check-out" checked="checked">Qua thẻ cào							
                </label>
              </div>
              <div class="row">
                <div class="col-xs-3"><span class="text">Số seri:</span></div>
                <div class="col-xs-9"><input type="text" class="form-control"></div>
              </div>
              <div class="row">
                <div class="col-xs-3"><span class="text">Mã thẻ:</span></div>
                <div class="col-xs-9"><input type="text" class="form-control"></div>
              </div>
            </div>
            <div class="bank check-out-row">
              <div class="radio">
                <label>
                  <input type="radio" name="check-out">Qua chuyển khoản trực tiếp
                </label>
              </div>
              <ul class="bank-list clearfix">
                <li *ngFor="let bank of banks">
                  <button class="btn btn-bank" (click)="selectBankByName(bank)" [ngStyle]=" { 'background-image' : 'url(' + bank.url + ')'  }"></button>
                </li>             
              </ul>
              <br>
              <div class="bank-account">
                <div class="row">
                  <div class="col-sm-6">
                    <span class="bank-text">Số tài khoản:</span>
                    <span class="bank-text">{{selectBank.number}}</span>
                  </div>
                  <!-- <div class="col-sm-6">
                    <span class="bank-text">Số thẻ:</span>
                    <span class="bank-text">{{selectBank.user}}</span>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <span class="bank-text">Chủ tài khoản:</span>
                    <span class="bank-text">{{selectBank.user}}</span>
                  </div>
                  <div class="col-sm-6">
                    <span class="bank-text">Chi nhánh:</span>
                    <span class="bank-text">{{selectBank.chiNhanh}}</span>
                  </div>
                </div>

              </div>
              <div class="bank-note">
                <div class="row">
                  <div class="col-sm-7">
                    <p><span class="note">*</span>
                    <span class="note-text">Điền mã sau vào nội dung chuyển khoản</span></p>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Tôi đã điền mã sau vào nội dung chuyển khoản
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <span class="bank-code">{{purchaseSerive.orderID}}</span>
                  </div>
                </div>
                
                <button type="button" class="btn btn-danger">HOÀN TẤT ĐẶT HÀNG</button>
              </div>
            </div>
            <div class="card check-out-row">
              <div class="radio">
                <label>
                  <input type="radio" name="check-out" checked="checked">Giao dịch trực tiếp tại các chi nhánh của EZGame store			
                </label>
              </div>
              <a class="ez-text" href="#">(Click vào đây để xem bộ hệ thống EZGame trên toàn quốc)</a>
            </div>
            <div class="card check-out-row">
              <a class="ez-text bank" href="#">Qua cổng thanh toán BaoKim.vn</a>
            </div>
            <div class="card check-out-row">
              <a class="ez-text bank" href="#">Thanh toán bằng các hình thức khác</a>
              <p>(Chuyển khoản BanThe247, Paypal, WMZ.... )</p>
            </div>
          </div>

        </div>
        
      </div>
      <div class="col-md-4">
        <div class="col-margin check-out-bg2 ">
          <div class="order-info">
            <h2 class="title text-center">đơn hàng: {{purchaseSerive.cart._id}}</h2>	
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>TÊN SẢN PHẨM</th>
                    <th>GIÁ TIỀN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let game of purchaseSerive.cart.products">
                    <td>{{game.name}}</td>
                    <td>{{game.price | money}} VNĐ</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2" align="right"><strong>{{total | money}} VNĐ</strong></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="hostory-order">
            <a [routerLink]="['/purchase-history']" class="btn" >LỊCH SỬ MUA HÀNG</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>