<div class="container">
  <div class="ez-content ez-page">
    <div class="ez-breadcrumb">
      <div class="tree-view" xmlns:v="http://rdf.data-vocabulary.org/#">
        <a class="home-icon" href="#" title="Trang chủ"><i class="fa fa-home"></i> Trang chủ</a>
        <span class="tree-normal">></span>
        <span typeof="v:Breadcrumb">
          <a rel="v:url" property="v:title" title="Mua game" href="#">Mua game</a>
        </span>
        <span class="tree-normal">></span>
        <span typeof="v:Breadcrumb">
          <a rel="v:url" class="active" property="v:title" title="Game team" href="#">Game team</a>
        </span>
        <span class="tree-after"></span>
      </div>
    </div>
      <div class="product-wrap">
        <h1 class="product-title">PLAYERUNKNOWN’S BATTLEGROUND</h1>
        <div class="row">
          <div class="col-md-8">
            <div class="product-img">
              <img src="assets/default/images/product.png">
            </div>
            <div class="product-des">
              <p>PLAYERUNKNOWN'S BATTLEGROUNDS is a last-man-standing shooter being developed with community feedback. Players must fight to locate weapons and supplies in a massive 8x8 km island to be the lone survivor. This is BATTLE ROYALE.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-detail">
              <div class="price-new">320.000 VNĐ</div>
              <div class="price-old">
                <span class="text">GIÁ TRƯỚC ĐÂY:</span>
                <span class="price">340.000 VNĐ</span>
              </div>
              <button type="button" class="btn btn-add-cart">THÊM VÀO GIỎ HÀNG</button>
              <div class="product-discount">
                <p>EZGame đang có chương trình</p>
              <p>Giảm giá 2% khi mua 2 sản phẩm trở lên.</p>
              <p>Bạn có muốn mua thêm ?</p>
              </div>
              <button type="button" class="btn btn-check-out">THANH TOÁN</button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-orther">
        <p class="title">Các sản phẩm liên quan khác</p>
        <ul class="product-hot 100K">
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-wrap">
              <div class="item">
                <div class="product-sell">
                  <img src="assets/default/images/don't-starve-together.jpg">
                  <div class="price-sell">
                    <div class="discount">-80%</div>
                    <div class="price">
                      <p class="price-old">600.000 VNĐ</p>
                      <p class="price-new">500.000 VNĐ</p>
                    </div>
                    <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>