<div style="background: #4a4a4a;" class="col-md-12">
    <div class="login-box">
        <div class="login-box-body-s">
            <form ngNativeValidate (submit)="login($event)">
                <p class="login-box-msg" style="color:white" i18n>Sign in Ezgame</p>
                <div class="form-group">
                    <span class="text-primary" style="color: beige">{{errorMessage}}</span>
                </div>
                <div class="form-group has-feedback">
                    <input id="email" type="text" #input class="form-control" i18n-placeholder placeholder="Email/Username" name="username" [(ngModel)]="model.email"
                        required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="password" type="password" class="form-control" i18n-placeholder placeholder="Password" name="password" [(ngModel)]="model.password"
                        autocomplete="off" style="-webkit-text-security: disc;" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <br>
                    <span style="color:#fff" i18n>Don't have an account ? </span>
                    <a class="cursor" style="text-decoration: underline; color: beige" (click)="onSignUpClick($event)" i18n>Create one</a>
                </div>
                <div class="overlay text-center logging" style="display:none;">
                    <i class="fa">
                        <loading></loading>
                    </i>
                </div>
                <div class="box-login logging">
                    <div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #4285f4;" i18n>Sign in
                            </button>
                        </div>
                    </div>

                </div>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>