<div class="box-body" style="height:100vh">
  <div>
    <h2 id="welcome-text" class="text-center">Chào mừng bạn đến với Ezgame</h2>
  </div>
  <div id="body-reg" class="container box-body" style="min-height:80vh">
    <h3 class="text-center">&#160;&#160;{{stepMessage}}</h3>
    <div id="main-form" class="box" style="display:none;border:none;box-shadow:none;">
      <form ngNativeValidate role="form">
        <div *ngIf="currentStep == 1" class="row setup-content" id="step-1">
          <div class="col-xs-12">
            <h3 class="lead text-center">Tạo tài khoản</h3>
            <div class="col-md-12 text-center">
              <div class="col-md-6 col-md-offset-3">
                <form ngNativeValidate id="sigup-form" (submit)="onCreateNewAccount($event)">
                  <div class="form-group has-feedback">
                    <input id="full-name" type="text" #input class="form-control" placeholder="Họ và tên" name="company-name" autocomplete="off"
                      required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                  </div>
                  <div class="form-group has-feedback">
                    <input id="signup-email" type="email" class="form-control" placeholder="Email" name="email" autocomplete="off" autocomplete="off"
                      autocorrect="off" autocapitalize="off" spellcheck="false">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                  </div>
                  <div class="form-group has-feedback">
                    <input id="phone-1" type="text" class="form-control" placeholder="Số điện thoại" name="phone" autocomplete="off" autocomplete="off"
                      autocorrect="off" autocapitalize="off" spellcheck="false" required>
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                  </div>
                  <div id="psw" class="form-group has-feedback">
                    <input id="signup-password" type="password" class="form-control" placeholder="Password" name="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  </div>
                  <div id="retype-psw" class="form-group has-feedback">
                    <input id="signup-retype-password" type="password" class="form-control" placeholder="Nhập lại password" name="password" required>
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                  </div>
                  <div>
                    <span id="signUpMessage" class="help-block text-center"></span>
                  </div>
                  <div id="accountBtnGroup" class="text-center">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-5">
          <div class="col-md-12">
            <h2 class="text-green text-center">Đăng ký tài khoản thành công.</h2>
            <button id="goToDashboard" class="btn btn-success nextBtn btn-lg pull-right" type="button" (click)="skip()">Đến trang đăng nhập</button>
          </div>
        </div>
      </form>
      <div class="overlay" style="margin-top:0px" *ngIf="isLoading">
        <i class="fa">
          <loading></loading>
        </i>
      </div>
    </div>
  </div>
</div>