<div class="container">
  <div class="ez-content ez-page">
    <div class="ez-breadcrumb">
      <div class="tree-view" xmlns:v="http://rdf.data-vocabulary.org/#">
        <a class="home-icon" href="#" title="Trang chủ"><i class="fa fa-home"></i> Trang chủ</a>
        <span class="tree-normal">></span>
        <span typeof="v:Breadcrumb">
          <a rel="v:url" property="v:title" title="Mua game" href="#">Mua game</a>
        </span>
        <span class="tree-normal">></span>
        <span typeof="v:Breadcrumb">
          <a rel="v:url" class="active" property="v:title" title="Game team" href="#">Game team</a>
        </span>
        <span class="tree-after"></span>
      </div>
    </div>
      <div class="catagogue">
        <div class="row">
          <div class="col-md-9 margin-bottom-30">
            <div class="cat-title">
              <h3>GAME NỔI BẬT</h3>
              <a href="#" class="see-all">xem tất cả</a>
            </div>
            <ul class="product-hot 100K">
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-wrap">
                  <div class="item">
                    <div class="product-sell">
                      <img src="default/images/don't-starve-together.jpg">
                      <div class="price-sell">
                        <div class="discount">-80%</div>
                        <div class="price">
                          <p class="price-old">600.000 VNĐ</p>
                          <p class="price-new">500.000 VNĐ</p>
                        </div>
                        <div class="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <button type="button" class="btn btn-orther-game">Tìm kiếm các Game khách</button>
          </div>
          <div class="col-md-3">
            <div class="combo-wrap">
              <div class="combo-item">
                <div class="combo-title">COMBO CỰC SỐC</div>
                <div class="combo-content">
                  <img src="default/images/combo-1.png">
                  <div class="btn-view">
                    <a href="#" class="btn btn-view-combo">
                      xem ngay
                    </a>
                  </div>
                </div>
              </div>
              <div class="combo-item">
                <div class="combo-title">COMBO CỰC SỐC</div>
                <div class="combo-content">
                  <img src="default/images/combo.jpg">
                  <div class="btn-view">
                    <a href="#" class="btn btn-view-combo">
                      xem ngay
                    </a>
                  </div>
                </div>
              </div>
              <div class="combo-item">
                <div class="combo-title">COMBO CỰC SỐC</div>
                <div class="combo-content">
                  <img src="default/images/Raz-combo.jpg">
                  <div class="btn-view">
                    <a href="#" class="btn btn-view-combo">
                      xem ngay
                    </a>
                  </div>
                </div>
              </div>
              <div class="combo-item">
                <div class="combo-title">COMBO CỰC SỐC</div>
                <div class="combo-content">
                  <img src="default/images/combo-2.jpg">
                  <div class="btn-view">
                    <a href="#" class="btn btn-view-combo">
                      xem ngay
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>